services:
    # 1. Database MySQL
    mysql:
        image: mysql:8.0
        container_name: artivio-mysql
        restart: always
        environment:
            MYSQL_DATABASE: handmade
            MYSQL_ROOT_PASSWORD: rootpassword
        ports:
            - "3307:3306"
        volumes:
            - mysql_data:/var/lib/mysql
            - ./backend/src/main/java/com/artivio/backend/database/handmade.sql:/docker-entrypoint-initdb.d/handmade.sql
        networks:
            - artivio-network
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
            interval: 10s
            timeout: 5s
            retries: 5

    # 2. Backend
    backend:
        build: ./backend
        container_name: artivio-backend
        restart: always
        ports:
            - "8080:8080"
        depends_on:
            mysql:
                condition: service_healthy
        environment:
            SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/handmade?useSSL=false&allowPublicKeyRetrieval=true&useUnicode=true&characterEncoding=UTF-8
            SPRING_DATASOURCE_USERNAME: root
            SPRING_DATASOURCE_PASSWORD: rootpassword
        networks:
            - artivio-network

    # 3. Frontend
    frontend:
        build: ./frontend
        container_name: artivio-frontend
        restart: always
        ports:
            - "3000:3000"
        depends_on:
            - backend
        environment:
            # 1. Browser: Gọi localhost để gặp Backend từ máy người dùng
            NEXT_PUBLIC_BACKEND_API_URL: http://localhost:8080/api
            NEXT_PUBLIC_API_URL: http://localhost:8080

            # 2. Server (NextAuth): Gọi backend trong mạng Docker
            BACKEND_INTERNAL_URL: http://backend:8080/api

            # 3. NextAuth Config
            NEXTAUTH_URL: http://localhost:3000
            NEXTAUTH_SECRET: ${NEXTAUTH_SECRET:-3TrMWRGUBKb5G28j3SdyFUAYuckrKxrmF0SL7+l2AjQ}
        networks:
            - artivio-network

volumes:
    mysql_data:

networks:
    artivio-network:
        driver: bridge